<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA78eQ9t0GwuHRlyHsTTGblKEhc4evC3DA</string>
	<key>GCM_SENDER_ID</key>
	<string>283794396033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab6FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-3eea0</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-3eea0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283794396033:ios:4cb737a5e1454df080ce80</string>
</dict>
</plist>